/* !important make everything in high priority
id
class
data-property
call clss by .
call id by #
call data-property by[]
*/
body {
    background-color: #F5F5F5;
}

hr {
    border: 3px dotted;
    border-style: dotted none none none;
    height: 3px;
    width: 10%;
    color: #30E3CA;
}
h1,h3 {
    color: #2F89FC;
}
